Link to challenge: https://www.kaggle.com/competitions/titanic/overview

In [1]:
import pandas as pd
import math
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [2]:
# Read the data
gender_df = pd.read_csv('data/gender_submission.csv')
test_df = pd.read_csv('data/test.csv')
train_df = pd.read_csv('data/test.csv')

In [3]:
# storing passenger names and id
passenger_names = train_df[['PassengerId','Name']]
passenger_names = passenger_names.set_index(passenger_names['PassengerId'])
passenger_names = passenger_names.drop('PassengerId', axis=1)

passenger_names_train_df = test_df[['PassengerId','Name']]
passenger_names_train_df = passenger_names_train_df.set_index(passenger_names_train_df['PassengerId'])
passenger_names_train_df = passenger_names_train_df.drop('PassengerId', axis=1)

In [4]:
# removing passenger names as OHC would assign each one a random value, might attrbute to overfitting.
train_df = train_df.drop(['Name'], axis=1)
test_df = test_df.drop(['Name'], axis=1)

In [5]:
# use an encoder to transform Sex, Cabin, and Embarked to a real number.
for row, val in train_df.iterrows():
    if val['Sex'] == 'male':
        train_df.Sex[row] = 0
    if val['Sex'] == 'female':
        train_df.Sex[row] = 1


for row, val in test_df.iterrows():
    if val['Sex'] == 'male':
        test_df.Sex[row] = 0
    if val['Sex'] == 'female':
        test_df.Sex[row] = 1

C:\Users\migal\AppData\Local\Temp\ipykernel_9812\1506004282.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df.Sex[row] = 0
C:\Users\migal\AppData\Local\Temp\ipykernel_9812\1506004282.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df.Sex[row] = 1
C:\Users\migal\AppData\Local\Temp\ipykernel_9812\1506004282.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.Sex[row] = 0
C:\Users\migal\AppData\Local\Temp\ipykernel_9812\1506004282.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.Sex[row] = 1

In [6]:
# Encoding Cabin column.
ohc = OneHotEncoder()
ohc.fit(train_df[['Cabin']])
encoded_cabin_categories = ohc.categories_
x = ohc.transform(train_df[['Cabin']]).toarray()
encoded_cabin = pd.DataFrame(x)
encoded_cabin.head()

ohc = OneHotEncoder()
ohc.fit(test_df[['Cabin']])
encoded_cabin_categories = ohc.categories_
x = ohc.transform(test_df[['Cabin']]).toarray()
encoded_cabin_test_df = pd.DataFrame(x)
encoded_cabin_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
# Encoding Embarked column.
ohc = OneHotEncoder()
ohc.fit(train_df[['Embarked']])
encoded_embarked_categories = ohc.categories_
x = ohc.transform(train_df[['Embarked']]).toarray()
encoded_embarked = pd.DataFrame(x)
encoded_embarked.head()

ohc = OneHotEncoder()
ohc.fit(test_df[['Embarked']])
encoded_embarked_categories = ohc.categories_
x = ohc.transform(test_df[['Embarked']]).toarray()
encoded_embarked_test_df = pd.DataFrame(x)
encoded_embarked_test_df.head()

     0    1    2
0  0.0  1.0  0.0
1  0.0  0.0  1.0
2  0.0  1.0  0.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [8]:
# replace Embarked columns with encoded columns
train_df = train_df.join(encoded_embarked)
train_df = train_df.drop('Embarked', axis=1)

test_df = test_df.join(encoded_embarked_test_df)
test_df = test_df.drop('Embarked', axis=1)

In [10]:
# encoding Cabin column.
ohc = OneHotEncoder()
ohc.fit(train_df[['Cabin']])
encoded_cabin_categories = ohc.categories_
x = ohc.transform(train_df[['Cabin']]).toarray()
encoded_cabin = pd.DataFrame(x)

ohc = OneHotEncoder()
ohc.fit(test_df[['Cabin']])
encoded_cabin_categories_test_df = ohc.categories_
x = ohc.transform(test_df[['Cabin']]).toarray()
encoded_cabin_test_df = pd.DataFrame(x)
encoded_cabin_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
# renaming columns
encoded_cabin = encoded_cabin.rename(columns={0: 'A11', 1: 'A18', 2: 'A21', 3: 'A29', 4: 'A34', 5:'A9', 6:'B10', 7:'B11', 8:'B24',
        9: 'B26', 10: 'B36', 11: 'B41', 12: 'B45', 13: 'B51 B53 B55', 14: 'B52 B54 B56',
        15: 'B57 B59 B63 B66', 16: 'B58 B60', 17: 'B61', 18: 'B69', 19: 'B71', 20:'B78', 21: 'C101',
        22:'C105', 23:'C106', 24:'C116', 25:'C130', 26:'C132', 27:'C22 C26', 28:'C23 C25 C27',
        29:'C28', 30:'C31',31:'C32', 32:'C39', 33:'C46', 34:'C51', 35:'C53', 36:'C54', 37:'C55 C57',
        38: 'C6', 39: 'C62 C64', 40: 'C7', 41: 'C78', 42: 'C80', 43: 'C85', 44:'C86', 45:'C89', 46: 'C97',
        47: 'D', 48: 'D10 D12', 49:'D15', 50:'D19', 51:'D21', 52:'D22', 53:'D28', 54:'D30', 55:'D34',
        56:'D37', 57:'D38', 58:'D40', 59:'D43', 60:'E31', 61:'E34', 62:'E39 E41', 63:'E45', 64:'E46',
        65:'E50', 66:'E52', 67:'E60', 68:'F', 69:'F E46', 70:'F E57', 71:'F G63', 72:'F2', 73:'F33',
        74: 'F4', 75:'G6', 76: 'NaN'})

encoded_cabin_test_df = encoded_cabin.rename(columns={0: 'A11', 1: 'A18', 2: 'A21', 3: 'A29', 4: 'A34', 5:'A9', 6:'B10', 7:'B11', 8:'B24',
        9: 'B26', 10: 'B36', 11: 'B41', 12: 'B45', 13: 'B51 B53 B55', 14: 'B52 B54 B56',
        15: 'B57 B59 B63 B66', 16: 'B58 B60', 17: 'B61', 18: 'B69', 19: 'B71', 20:'B78', 21: 'C101',
        22:'C105', 23:'C106', 24:'C116', 25:'C130', 26:'C132', 27:'C22 C26', 28:'C23 C25 C27',
        29:'C28', 30:'C31',31:'C32', 32:'C39', 33:'C46', 34:'C51', 35:'C53', 36:'C54', 37:'C55 C57',
        38: 'C6', 39: 'C62 C64', 40: 'C7', 41: 'C78', 42: 'C80', 43: 'C85', 44:'C86', 45:'C89', 46: 'C97',
        47: 'D', 48: 'D10 D12', 49:'D15', 50:'D19', 51:'D21', 52:'D22', 53:'D28', 54:'D30', 55:'D34',
        56:'D37', 57:'D38', 58:'D40', 59:'D43', 60:'E31', 61:'E34', 62:'E39 E41', 63:'E45', 64:'E46',
        65:'E50', 66:'E52', 67:'E60', 68:'F', 69:'F E46', 70:'F E57', 71:'F G63', 72:'F2', 73:'F33',
        74: 'F4', 75:'G6', 76: 'NaN'})

In [12]:
train_df = train_df.join(encoded_cabin)
train_df = train_df.drop('Cabin', axis=1)

test_df = test_df.join(encoded_cabin)
test_df = test_df.drop('Cabin', axis=1)

In [13]:
# Transform the data
# Numerical Data
train_df.to_csv('data/numerical_train.csv')
test_df.to_csv('data/numerical_test.csv')